/* 
    Document   : agent
    Created on : 09.11.2010, 16:09:35
    Author     : kd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table, tr, td {border: 1px black solid; border-collapse: collapse;}

body>div, table {width: 1000px;}
body>div { height: 200px; }

img#logo {width:250px; margin-top: 10px;}

