/* 
    Document   : diagram
    Created on : 10.11.2010, 13:20:04
    Author     : kd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body>table {width:400px; border:1px black solid; height: auto;}

/*div#pie {height:320px; width:400px;}*/

fieldset {width: 400px;}


div#menu {margin-left: auto; margin-right: auto; padding: 0px; height:400px; width:600px; float:left;}
#menu ul  {height: 120px; width:100px; text-align: center; margin-top: 2px; padding-left: 0px; float:left; }
#menu li{float:left; border: 1px green dotted; margin:2px; cursor: pointer;  text-align: center; list-style-type: none; }
ul#color li#all {width:88px;}
ul#mark li#all {width:94px;}
ul#mark li:first {width:92px;}
ul#mas li {width:90px;}
ul#vid li {width:90px;}
/*ul#tip {top:0px;}
*/ul#color li {width:25px; height: 25px;}/*

ul#mark li{width:25px; height: 25px; }
ul#tip li{width:56px; height: 25px;}
ul#vid li{width:87px; height: 25px;}
ul#mas li{width:87px; height: 25px; font-size: 90%;}*/
.Красный,#Красный {background: Salmon;}
.Желтый,#Желтый{background: PeachPuff;}
.Коричневый,#Коричневый{background: Tan;}
.Светлый,#Светлый{background: Lightseagreen ;}
.Белый,#Белый{background-color: Snow ;}
.КЕ,#КЕ {background-color: Cyan}
#Лицевой, .Лицевой {font-weight: bold; }
.dwn {background-color: yellow; border:1px solid black; }

